.logAreaWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.logArea {
  flex: 1;
  background: var(--terminal-bg);
  overflow-y: auto;
  padding: 16px;
  font-family: var(--font-mono);
}

.logArea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.logArea::-webkit-scrollbar-thumb {
  background: var(--border-light);
  border-radius: 10px;
}

.logArea::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}

.logArea::-webkit-scrollbar-track {
  background: transparent;
}

.logArea::-webkit-scrollbar-corner {
  background: transparent;
}

@media (width <= 768px) {
  .logArea {
    padding: 12px;
  }
}
